@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Comfortaa:wght@500&family=Domine&family=Kosugi+Maru&family=Lustria&family=Syncopate&display=swap');


body,
html {
  height: 100%;
}
.navbar  {
    background-color: rgb(32, 32, 32);
    font-family: 'Syncopate', sans-serif;
    color: ivory;
}
.navbar-brand {
    font-family: 'Syncopate', sans-serif;
    margin-top: 17px;
    font-size: 2em;
    color: ivory;
}
.bg {
  background-image: url("../../../../assets/pexels-photo-590493.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid ivory 2px;
}
.row {
    margin-top: 150px;
}
.col {
    color:ivory;
    font-family: 'Syncopate', sans-serif;
    padding-top: 20px;
    margin: 20px;
    
}
a {
    color: ivory;
    font-family: 'Syncopate', sans-serif;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    font-size: 1.5em;
    text-align: center;
    
}
li {
    padding-right: 50px;
}
.back{
    margin-left: 150px;
}
