@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Comfortaa:wght@500&family=Domine&family=Kosugi+Maru&family=Lustria&family=Syncopate&display=swap');


body,
html {
  height: 100%;
}
.navbar  {
  background-color: rgb(32, 32, 32);
  font-family: 'Syncopate', sans-serif;
}
.navbar-brand {
  font-family: 'Syncopate', sans-serif;
  margin-top: 17px;
  font-size: 2em;
  color: ivory;
}
a {
  color: ivory;
  font-family: 'Syncopate', sans-serif;
}
.bg {
  background-image: url("../../../../../../../assets/pexels-photo-590493.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid ivory 2px;
}
.text {
  margin-top: 150px;
  text-align: center;
}
ul {
  text-decoration: underline;
  text-align: center;
  list-style-type: none;
  font-size: 1.5em;
  padding-right: 30px;
}  
button {
  border: transparent;
  background: transparent;
}