
<div class="card bg-dark text-white">

    <img class="card-img" src="../../../../assets/pexels-photo-590493-1 2.jpeg" alt="Card image">
    <div class="card-img-overlay">
        
        <h1>DELETE BOOK FROM LIBRARY</h1>
        <ul>
            <li *ngFor="let book of book">
                <a> {{book.title}} </a>  
                <button (click)="deleteBook(book.book_id)">x</button>
            </li>
        </ul>
    

        <a href="#" routerLink="/admin">BACK</a>
    </div>    
</div>