<nav class="navbar navbar-expand-md">
    <!-- Brand -->
    <!-- Navbar links -->
    <h1 class="navbar-brand" href="#"><a href="/admin"> eLIBRARY ADMIN</a></h1>    
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapsibleNavbar"
    >
      <ul class="navbar-nav">
      </ul>  
      
    </div>
  </nav>
<div class="bg">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="text">
          <h1><a>DELETE BOOK FROM LIBRARY</a></h1>
          <ul>
              <li *ngFor="let book of book">
                  <a> {{book.title}} </a>  
                  <button class="x" (click)="deleteBook(book.book_id)"><a>delete</a></button>
              </li>
          </ul>
      </div>  
    </div> 
    <div class="col"></div>
</div>
</div>       
      

