@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Comfortaa:wght@500&family=Domine&family=Kosugi+Maru&family=Lustria&family=Syncopate&display=swap');


body,
html {
  height: 100%;
}
.bg {
  background-image: url("../../../../../../../assets/pexels-photo-590493.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid ivory 2px;
}
nav{
    padding-bottom: 15em;
}
ul {
    list-style-type: none;
    font-size: 1.5em;
}
