<div class="bg">
    <div class="header">
        <h1>LIBARAY</h1>
        <h1>ADD BOOKS TO LIBRARY</h1>
        BOOK ID:<input [(ngModel)]="newBook.book_id"><br>
        TITLE:<input [(ngModel)]="newBook.title"><br>
        AUTHOR:<input [(ngModel)]="newBook.author"><br>
        PUBLISHER:<input [(ngModel)]="newBook.publisher"><br>
        DESCRIPTION:<input [(ngModel)]="newBook.description"><br>
        DATE PUBLISHED:<input [(ngModel)]="newBook.pub_date"><br>
        <button (click)="addBook()" type="button" class="btn">SUBMIT</button>

        <a href="#" routerLink="/admin">BACK</a>
    </div>  
</div>     
