<nav class="navbar navbar-expand-md">
    <!-- Brand -->
    <h1 class="navbar-brand" href="#"><a href="/home"> eLIBRARY</a></h1>
  
    <!-- Toggler/collapsibe Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapsibleNavbar"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">LOGIN</a>
        </li>
        <li>
          <a class="nav-link" href="#" routerLink="/booksView">BOOKS</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="bg">
    <div class="header">
        <h1>LIBARAY</h1>
        <h1>ADD BOOKS TO LIBRARY</h1>
        BOOK ID:<input [(ngModel)]="newBook.book_id"><br>
        TITLE:<input [(ngModel)]="newBook.title"><br>
        AUTHOR:<input [(ngModel)]="newBook.author"><br>
        PUBLISHER:<input [(ngModel)]="newBook.publisher"><br>
        DESCRIPTION:<input [(ngModel)]="newBook.description"><br>
        DATE PUBLISHED:<input [(ngModel)]="newBook.pub_date"><br>
        <button (click)="addBook()" type="button" class="btn">SUBMIT</button>

        <a href="#" routerLink="/admin">BACK</a>
    </div>  
</div>     
