<div class="bg">
  <div class="header">
    <h1>ADMIN</h1>
          <nav>
            <!--<h2>USER INFORMATION</h2>
            <ul>
              <li><a href="#" routerLink="/userView">VIEW USER INFORMATION</a></li>
              <li><a href="#" routerLink="userEdit/:user_id">EDIT USER INFORMATION</a></li>
              <li><a href="#" routerLink="/userAdd">ADD USER INFORMATION</a></li>
              <li><a href="#" routerLink="/userDelete">DELETE USER INFORMATION</a></li>
            </ul>
            <br>-->
            <h2>LIBRARY</h2>
            <ul>
              <li><a href="#" routerLink="/bookView">VIEW BOOK</a></li>
              <li><a href="#" routerLink="/bookEdit/:book_id">EDIT BOOK INFORMATION</a></li>
              <li><a href="#" routerLink="/bookAdd">ADD BOOK TO LIBARAY</a></li>
              <li><a href="#" routerLink="/bookDelete">DELETE BOOK FROM LIBARAY</a></li>
            </ul>
          </nav>

      
  </div>  
</div>     
  
