@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Comfortaa:wght@500&family=Domine&family=Kosugi+Maru&family=Lustria&family=Syncopate&display=swap');


body,
html {
  height: 100%;
}
.navbar  {
    background-color: rgb(32, 32, 32);
    font-family: 'Syncopate', sans-serif;
}

.navbar-brand {
    font-family: 'Syncopate', sans-serif;
    margin-top: 17px;
    font-size: 2em;
    color: ivory;
}
a {
    color: ivory;
    font-family: 'Syncopate', sans-serif;
}
.bg {
  background-image: url("../../../../assets/pexels-photo-590493.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid ivory 2px;
}
.header {
    color:ivory;
    font-family: 'Syncopate', sans-serif;
    padding-top: 20px;
    border: solid ivory 2px;
    margin: 20px;
}
.navbar  {
    background-color: rgb(32, 32, 32);
    font-family: 'Syncopate', sans-serif;
  }
  .navbar-brand {
    font-family: 'Syncopate', sans-serif;
    margin-top: 17px;
    font-size: 2em;
    color: ivory;
  }
  a {
    color: ivory;
    font-family: 'Syncopate', sans-serif;
  }
h2 {
    text-decoration: underline;
    text-emphasis-style: bold ;
}
input{
    background: transparent;
    color: rgb(252, 252, 243);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}
.btn {
    color: rgb(252, 252, 243);
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: rgb(250, 250, 227);; /* Green */
  color: maroon;
}