<div class="card bg-dark text-white">

    <img class="card-img" src="../../../../assets/pexels-photo-590493-1 2.jpeg" alt="Card image">
    <div class="card-img-overlay">
        <h2>LOGIN</h2>
        <form class="w3-container w3-light-grey">
            <label>USER NAME</label><br>
            <input class="w3-input w3-border-0" type="text" ><br>
          
            <label>PASSWORD</label><br>
            <input class="w3-input w3-border-0" type="text"><br>
            <button type="button" class="btn">SUBMIT</button>
          </form>
    </div>
</div>
