<nav class="navbar navbar-expand-md">
  <!-- Brand -->
  <h1 class="navbar-brand" href="#">eLIBRARY</h1>
  <!-- Navbar links -->
  <div
    class="collapse navbar-collapse justify-content-end"
    id="collapsibleNavbar"
  >
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="#" routerLink="/bookView">BOOKS</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg">
  <div class="col-3"></div>
  <div class="col-3">
    
    
      <div *ngIf="token.length == 0">
        <div style="color: #ff0000; font-weight: bold;">{{(error ? error : '')}}</div>
        <div class="row justify-content-around">
          
          <form>
            <label class="un" htmlFor="username"><a>USERNAME</a></label><br>
            <input type="text" id="username" name="username" [(ngModel)]="LoginModule.username" /><br>

            <label class="pw" htmlFor="password"><a>PASSWORD</a></label>
            <input type="password" id="password" name="password" [(ngModel)]="LoginModule.password" /><br>
              <button type="button" class="btn" (click)="onLogin()">LOGIN</button>
          </form>
        </div>  
    
      <div *ngIf="token.length > 0">
        Logged In.
      </div>
      <div class="col-3"></div>    
  </div>  
</div>       
    
  

</div>

