<header>
    <div class="header">
      <h1>eLIBRARY</h1>
      <h3 id="h3">a diffrent kind of libaray</h3>
    </div> 
</header>
<h2>User</h2>
User ID: <input>
User Name: <input>
User Pin: <input>
Number Of Books: <input>
Overdue Books: <input>
History: <input>
Admin:<input>
<button disabled="disabled">Add</button>
<button disabled="disabled">Delete</button>
<button disabled="disabled">Update</button>
<h2>Book</h2>
Book ID: <input>
Title: <input>
Author: <input>
Publisher: <input>
Description: <input>
Date Published: <input>
Check Out Date: <input>
Checked Out: <input>
<button disabled="disabled">Add</button>
<button disabled="disabled">Delete</button>
<button disabled="disabled">Update</button>





