@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");


header {
    padding: 3px;
    color: #f5f5dc;
    background-color: 	#dc143c;
    font-family: 'Barlow', sans-serif;
    display: flex;
    
}
.header{
    margin-left: 1em;
}
