<div class="card bg-dark text-white">

    <img class="card-img" src="../../../../assets/pexels-photo-590493-1 2.jpeg" alt="Card image">
    <div class="card-img-overlay">
        <h2>REGISTER</h2>
      <div *ngIf="token.length == 0">
        <div style="color: #ff0000; font-weight: bold;">{{(error ? error : '')}}</div>

        <form class="w3-container w3-light-grey">
          <label htmlFor="username">Username:</label><br>
          <input type="text" id="username" name="username" [(ngModel)]="LoginModule.username" /><br>

          <label htmlFor="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="LoginModule.password" /><br>
          <button type="button" class="btn" (click)="onLogin()">SUBMIT</button>
        </form>
      </div>
    </div>
</div>
