<div class="card bg-dark text-white">

    <img class="card-img" src="../../../../assets/pexels-photo-590493-1 2.jpeg.jpeg" alt="Card image">
    <div class="card-img-overlay">
      <h2 class="card-title">"IT IS LIKELY I WILL DIE<br> NEXT TO A PILE OF THINGS<br> I WAS MEANING TO READ"</h2>
      <h3 class="card-text">- LEMONY SNICKET</h3>
      <nav>
          <ul>
              <li><a href="#" routerLink="/register">REGISTER</a></li>
              <li><a href="#" routerLink="/login">LOGIN</a></li>
          </ul>
      </nav>
    </div>
</div>



<app-rec-books></app-rec-books>
