


<div class="card">
  <img
    class="card-img"
    src="../../../../assets/pexels-photo-590493-1 2.jpeg"
    alt="Card image"
  />
  <div class="card-img-overlay">
    <h3 class="card-title">
      "IT IS LIKELY I WILL DIE NEXT TO A PILE OF THINGS<br>
      I WAS MEANING TO READ"
    </h3>
    <h4 class="card-text">- LEMONY SNICKET</h4>
    <br>
    
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/carousel-imagies/DUNE.jpg" alt="Cover of book Dune">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/carousel-imagies/JDatE2.jpg" alt="Cover of book John Dies at the End">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/carousel-imagies/Tribe.jpg" alt="Cover of book Tribe">
          </div>
        </div>

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    <nav>
      <ul>
        <li><a href="#" routerLink="/register">REGISTER</a></li>
      </ul>
    </nav>
  </div>
</div>


