@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Comfortaa:wght@500&family=Domine&family=Kosugi+Maru&family=Lustria&family=Syncopate&display=swap');


body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../../../assets/pexels-photo-590493.jpeg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid ivory 2px;
}
.header{
    color:ivory;
    font-family: 'Syncopate', sans-serif;
    padding-top: 20px;
    border: solid ivory 2px;
    margin: 20px;
}
h3{
    color: ivory;
    font-family: 'Syncopate', sans-serif;
    padding-top: 10px;
}
#carousel{
    align-items: center;
    max-width: 100%;
}
.carousel-item{
    width: 200px;
    height: 350px;
}
img{
    max-width: 100%;
}


