<nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  <h1 class="navbar-brand" href="#">eLIBRARY</h1>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div
    class="collapse navbar-collapse justify-content-end"
    id="collapsibleNavbar"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">LOGIN</a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/books">BOOKS</a>
      </li>
    </ul>
  </div>
</nav>
